a{
	color: #003;
	text-decoration: none;
	display:block;
	float:left;
	padding: 10px;
}

a:hover{
	background-color: white;
	color: black;
}

ul{
	margin: 0;
	padding: 0;	
	border-bottom-style:outset
}
