/* -- Classes for Specific Element -- */
.item {
	position:relative;
	padding: 0px;
	height: auto;
	border:0px solid #ffffff
}
.item_picture {
	display:block;
	background-color:gray;
}
.item_text_container {
	position: absolute;
	top: 0px;
	left: 60px;
	padding: 0px 10px 0px 0px;
	height: 60px;
	width: 818px;
	background-color: blue;
}
.item_options_container {
	position:absolute;
	top: 0px; /* height applies the parent's padding. */
	right:0px; /* parent's padding doesn't work on this, so right is 10px instead of 0px to give a little space on the right. */
	height: 60px;
	width: 70px;
	text-align: right;
	background-color: orange;
}
.item_title {
	margin-left: 10px;
	font-size: 14pt;
}
.item_date {
	font-size: 12pt;
}
.item_amount {
	margin-right:10px;
	height:100%;
	font-size:12pt;
}
.item_note {
	margin-left: 10px;
	font-size: 10pt;
}
.item_edit {	
	position:absolute;
	margin-top:15px;
	padding:15px;
	vertical-align:middle;
	line-height:60px;
	top:15px;
}
.item_delete {
	display:inline;
}
.item_vertical_line {
	height:1px;
	margin: 10px 0px 10px 0px;
	padding:0px;
	background-color:gray;
}
.item_horizontal_seperator {
	width:1px;
	height:60px;
	background-color:gray;
}
#container_total {
	position:absolute;
	bottom:0px;
	margin-bottom:20px;
	right:0px;
	margin-right:20px;
}
#title_total {
	display: inline;
}
#items_total {
	display: inline;
}


.trebuchet_font-family {
	font-family: "Trebuchet MS", verdanana, sans-serif;
	font-weight: normal;
}
.font_bold {
	font-weight: bold;
}
.inline {
	display: inline;
}