body {
	

}
#mainDiv{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#content{
	background-color:#C3EDAB;
}
#header{
	background-color: red;
	width: 1000px;
	height: 50px;
	
}




